/* FONT FAMILY */
/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */


/* Default styles */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
body{
     font-family: 'Merriweather', serif;
     font-weight: 300;
     font-size: .9rem;
}

h1{
    font-weight: 900;
}   

/* Layout */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.left-column {
  width: 100%;
}
.right-column {
  width: 100%;
}

@media (min-width: 900px){
    .container{
        flex-direction: row;
  justify-content: space-between;
    }
    .left-column{
        width: 48%;
    }
    .right-column{
        width: 48%;
    }
    
.address-bar{
    margin-top: 4em;
}
}


/* Title  */

.name{
    font-size: 3rem;
    color: purple;
}

.name-subtitle{
    margin: 0;
}
.designation{
    margin: 0;
}

/* card */
.card-title{
    color: #3384cb;   
}

.card-body h3{
    margin: 0;
}

.experience-timeline{
    font-size: .7rem;
    margin: 0;
}

.card-body-item:last-child{
    border: none;
    margin-bottom: 0;
    
}

.card-body-item{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

/* ADDRESS BAR  */

.address-bar p{
    font-weight: 700;
}

.address-bar a{
    margin-right: 1em;
    text-decoration: none;
}


/*  CERTIFICATES    */
.no-border{
    border: none;
}
